<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint name="employeeService" address="http://localhost:9003/employeeService"  binding="webHttpBinding" behaviorConfiguration="webBehavior"  contract="RestContract.IEmployees">
        
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>