<?xml version="1.0" encoding="utf-8" ?>
<!--服务宿主的配置文件-->
<configuration>
  <system.serviceModel>
      <behaviors>
          <serviceBehaviors>
              <behavior name ="CalculatorBehavior">
                  <serviceMetadata httpGetEnabled="true"/>
              </behavior>
          </serviceBehaviors>
      </behaviors>
  <services>
      <service name="WCFContractAndService.CalculatorService" behaviorConfiguration="CalculatorBehavior">
          <endpoint address="" binding="wsHttpBinding" contract="WCFContractAndService.ICalculator"/>
      <host>
          <baseAddresses>
              <add baseAddress="http://localhost:9003/CalculatorPerSession"/>
          </baseAddresses>
      </host>
      </service>
  </services>
  </system.serviceModel>
</configuration>