<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <system.runtime.remoting>
    <application>
      <client>
        <wellknown  type="RemotingObject.MyRemotingObject,RemotingObject"
                    url="http://localhost:9002/MyRemotingObject" />
      </client>
      <channels>    
        <channel ref="tcp" port="0"></channel>
        <channel ref="http" port="0"></channel>
        <channel ref="ipc" port="0"></channel>
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>