<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--WCF配置-->
  <system.serviceModel>
    <!--WCF客户端配置，手动增加endpoint节点-->
    <client>
		<!--<endpoint address="http://localhost:9588/Hosts/StudentContract.svc/Rest" binding="webHttpBinding" bindingConfiguration="RestfulBinding" contract="Restful.IService.Interfaces.IStudentContract" name="Restful.IService.Interfaces.IStudentContract" behaviorConfiguration="webBehavior" />-->
      <endpoint address="http://localhost:9588/Hosts/StudentContract.svc/Ws" binding="wsHttpBinding" bindingConfiguration="WSBinding" contract="Restful.IService.Interfaces.IStudentContract" name="Restful.IService.Interfaces.IStudentContract"  />
    </client>
    <!--WCF行为配置，配置好无需修改-->
    <behaviors>
      <endpointBehaviors>
        <behavior name="webBehavior">
          <webHttp faultExceptionEnabled="true" defaultOutgoingResponseFormat="Json" automaticFormatSelectionEnabled="true" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="DefaultBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!--WCF绑定配置，配置好无需修改-->
    <bindings>
      <webHttpBinding>
        <binding name="RestfulBinding">
        </binding>
      </webHttpBinding>
      <wsHttpBinding>
        <binding name="WSBinding" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="None">
            <transport clientCredentialType="None" />
            <message clientCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

</configuration>