<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <!--<bindings>
            <wsHttpBinding>
                <binding name="MetadataExchangeHttpBinding_ICompleteInstrumentation1">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>-->
        <client>
            <endpoint address="http://localhost:9003/instrumentationService/mex"
                binding="mexHttpBinding" contract="ClientConsoleApp.ISimpleInstrumentation"
                name="ISimpleInstrumentation" />
            <endpoint address="http://localhost:9003/instrumentationService/mex"
                binding="mexHttpBinding" contract="ClientConsoleApp.ICompleteInstrumentation"
                name="ICompleteInstrumentation" />
            <!--<endpoint address="http://localhost:9003/instrumentationService/mex"
                binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_ICompleteInstrumentation1"
                contract="ClientConsoleApp.ICompleteInstrumentation" name="MetadataExchangeHttpBinding_ICompleteInstrumentation1" />-->
        </client>
    </system.serviceModel>
</configuration>