<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <behaviors>
          <serviceBehaviors>
            <behavior name="metadataBehavior">
              <serviceMetadata httpGetEnabled="true" httpGetUrl="http://127.0.0.1:8888/HelloWorldService/metadata"/>
            </behavior>
          </serviceBehaviors>
        </behaviors>
      <services>
        <service behaviorConfiguration="metadataBehavior" name ="Services.HelloWorldService">
          <endpoint address="http://127.0.0.1:8888/HelloWorldService"
                    binding="wsHttpBinding"
                    contract="Contract.IHelloWorld"/>
        </service>
      </services>
    </system.serviceModel>
</configuration>