<?xml version="1.0" encoding="utf-8" ?>
<!--服务端App.config的内容-->
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <system.runtime.remoting>
    <application>
      <service>
        <wellknown  mode="Singleton"
                    type="RemotingObject.MyRemotingObject,RemotingObject"
                    objectUri="MyRemotingObject"/>
      </service>
      <channels>
        <channel port="9001" ref="tcp"/>
        <channel port="9002" ref="http"/>
        <channel portName="IpcTest" ref="ipc"/> <!--Ipc通道不需要端口号-->
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>