<?xml version="1.0"?>

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="OrderServiceBehavior">
                  
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
      <bindings>
        <wsHttpBinding>
          <!--通过设置transactionFlow属性为true来使绑定支持事务传播；对于wsHttpBinding契约事务传播-->
          <binding name="wsHttpBinding" transactionFlow="true">
            <!--启用消息可靠性选项-->
            <!--<reliableSession enabled="true"/>--> 
          </binding>
          
        </wsHttpBinding>
     
      </bindings>
      <services>
        <service name="WCFContractAndService.OrderService" behaviorConfiguration="OrderServiceBehavior">
          <endpoint address="" binding="wsHttpBinding" bindingConfiguration="wsHttpBinding" contract="WCFContractAndService.IOrderService"/>
        </service>
      </services>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
            multipleSiteBindingsEnabled="true" />
    </system.serviceModel>
</configuration>
