<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="WCFContractAndService.EmployeesService">
        <!--这里Rest服务只能使用WebHttpBinding来作为绑定-->
        <endpoint address="http://localhost:9003/employeeService"
                  binding="webHttpBinding" contract="RestContract.IEmployees"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>