<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <system.serviceModel>
        <bindings>
            <netMsmqBinding>
                <binding name="NetMsmqBinding_IWCFMSMQService">
                    <security mode="None" />
                </binding>
            </netMsmqBinding>
        </bindings>
        <client>
            <endpoint address="net.msmq://localhost/private/LearningHardWCFMSMQ"
                binding="netMsmqBinding" bindingConfiguration="NetMsmqBinding_IWCFMSMQService"
                contract="WCFMSMQService.IWCFMSMQService" name="NetMsmqBinding_IWCFMSMQService" />
        </client>
    </system.serviceModel>
</configuration>