<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="metadataBehavior">
                    <serviceMetadata httpGetEnabled="true"/>
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
          <!--service标签的Name属性是必须，而且必须指定为服务类型，指定格式为：命名空间.服务类名-->
          <!--更多信息可以参考MSDN：http://msdn.microsoft.com/zh-cn/library/ms731303(v=vs.110).aspx--> 
          
            <service name="WCFService.CompleteInstrumentationService" behaviorConfiguration="metadataBehavior">
                <endpoint address="mex" binding="mexHttpBinding" contract="WCFService.ICompleteInstrumentation" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:9003/instrumentationService/"/>
                    </baseAddresses>
                </host>
            </service>          
        </services>
    </system.serviceModel>
</configuration>